{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete cart</legend>
            <p>Delete sellers "{{ object.distributor }}" shopping cards with all items inside?</p>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
            <button class="btn btn-outline-info" type="button" onclick="window.history.back()">Cancel</button>
        </div>
    </form>
</div>

{% endblock %}
